
body{
      background-color:FloralWhite;

}

.inregistreaza
{
      background-color:Yellow;
       color:solid black;
}

label
{    
      color:solid black;
      font-size:100%;
      font-family:"Lucida Console","Courier New",monospace;
     
}

form
{
    border:5px solid lightblue;
}

p
{
     color:DarkSlateGrey;
     font-size:150%;
     font-family:"Times New Roman", Times, serif;
}


